/cucf_preparedData.csv
/hierarchy-genre1.csv
/hierarchy-genre2.csv
/maucf_attributeMap.csv
/maucf_preparedData_attribute.csv
/maucf_preparedData_item.csv
/orbs_FoIHierarchyNodeEnum_genreHierarchy.csv
/orbs_FoIHierarchyNodeEnum_releaseDateHierarchy.csv
/orbs_FoIHierarchyNodeEnum_single.csv
/orbs_preparedData_genreHierarchyMatrix.csv
/orbs_preparedData_releaseDateHierarchyMatrix.csv
/orbs_preparedData_singleFoIMatrix.csv
/sim_ensembledAsymSim.csv
/sim_ensembledSymSim.csv
/sro_preparedData_attribute.csv
/sro_preparedData_item.csv
